<h1>Listing Brands</h1>

<%= link_to 'New Brand', new_brand_path %><br><br><br>



<% @brands.each do |brand| %>
    <tr>
      <td><%=brand.name %> </td>
      <td><%= link_to 'Destroy', brand_path(brand),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td><br>

    </tr>

<% end %>
<br>
